<nav>
<img alt="logo image" src="/assets/logo_noteTree.png" style="/* left:140px; */
margin: 20px;
padding-left: 25px;
">
<a id="course_link" href="/courses/">Courses</a>
<a id="notes_link" href="/notebooks/">Notes</a>
</nav>
  <div id="notebook_index">
    <% @notebooks.each do |notebook| %>
      <div class="listing_notebooks">
        <div id="notebook_title"><%= notebook.title %></div>
        <ul class="display_options">
        <li><%= link_to 'Show', notebook %></li>
          <% if current_account == notebook.account %>
            <li><%= link_to 'Edit', edit_notebook_path(notebook) %></li>
            <li><%= link_to 'Destroy', notebook, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
          <% if current_account.teacher? %>
            <li><%= link_to 'Destroy', notebook, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </ul>
        </div>
    <% end %>
  </div>



