<nav>
<img alt="logo image" src="/assets/logo_noteTree.png" style="/* left:140px; */
margin: 20px;
padding-left: 25px;
">
<a id="course_link" href="/courses/">Courses</a>
<a id="notes_link" href="/notebooks/">Notes</a>
</nav>
<p id="notice"><%= notice %></p>

<div id="show_notebook">
	<p id="notebook_title">
    <%= @notebook.title %>
  </p>
  <p id="notebook_text">
	  <%= @notebook.text %>
	</p>
</div>

<div id="notebook_info">
 <div id="show_versions">
    <h2 id="versions">Versions:</h2>
    <% @notebook.versions.each do |version| %>
      <p>
    <%= link_to 'View version',  notebook_version_path(@notebook, version) %>
      </p> 
    <% end %> 
  </div>

  <div id="show_comments">
    <h2 class="comments" id="comment">Comments:</h2>
    <%= render @notebook.version_comments %> 

    <h2 class="comments">Add a comment:</h2>
    <%= render "comments/form" %>
  </div>
</div>

<div class="show_options">
  <%= link_to 'Back', notebooks_path %>
  <% if current_account == @notebook.account %>
  | <%= link_to 'Edit', edit_notebook_path(@notebook) %>
  <% end %>
</div>

