<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @notebook.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @notebook.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notebook.title %>
</p>
<h2>versions</h2>
<% @notebook.versions.each do |version| %>
  <p>
<%= link_to 'View version',  notebook_version_path(@notebook, version) %>

  </p> 
<% end %> 
<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>

