<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @notebook.text %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notebook.title %>
</p>
<h2>Versions</h2>
<% @notebook.versions.each do |version| %>
  <p>
<%= link_to 'View version',  notebook_version_path(@notebook, version) %>
  </p> 
<% end %> 

<%= link_to 'Back', notebooks_path %>
<% if current_account == @notebook.account %>
| <%= link_to 'Edit', edit_notebook_path(@notebook) %>
<% end %>

<h2>Comments</h2>
<%= render @notebook.version_comments %> 

<h2>Add a comment:</h2>
<%= render "comments/form" %>