<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @notebook.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @notebook.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notebook.title %>
</p>
<h2>versions</h2>
<% @notebook.versions.each do |version| %>
  <p>
<%= link_to 'View version',  notebook_version_path(@notebook, version) %>

  </p> 
<% end %> 

<h2>Comments</h2>
<%= render @notebook.comments %> 

<h2>Add a comment:</h2>
<%= render "comments/form" %>

 
<%= link_to 'Back', notebook_path %>
| <%= link_to 'Edit', edit_notebook_path(@notebook) %>