<%= form_for([@course, @lecture]) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </div>
 
  <div class="actions" id="lecture_submit">
    <%= f.submit %>
  </div>

  <div id="lecture">
    <div class="field">
      <%= f.text_field :title, placeholder: "Lecture Name"%>
    </div>
    <div class="field" id="lecture_date">
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.text_area :summary, placeholder: "Lecture content here." %>
    </div>
  </div>
<% end %>
