<nav>
<img alt="logo image" src="/assets/logo_noteTree.png" style="/* left:140px; */
margin: 20px;
padding-left: 25px;
">
<a id="course_link" href="/courses/">Courses</a>
<a id="notes_link" href="/notebooks/">Notes</a>
</nav>



<% if current_account.teacher? %>
  <form id="new_course">
    <!-- <input type="submit" value="New Lecture"> -->

  <div class="actions" id="new_lecture">
     <%= link_to 'New Lecture', new_course_lecture_path(@course) %>
  </div>
    
  </form>
<% end %>

<div class="content">
  <div id="lecutre_index">
    <% @lectures.each do |lecture| %>
    <div class="listing_lectures">
        <div id="lecture_title"><%= lecture.title %></div>
        <div id="course_name"><%= lecture.course.name %></div>
        <div id="lecture_summary"><%= lecture.summary %></div>
        <div><%= lecture.date %></div>
         <ul class="display_options">
         <il><%= link_to 'Show', course_lecture_path(lecture.course, lecture) %></il>
        <% if current_account.teacher? %>
          <il><%= link_to 'Edit', edit_course_lecture_path(lecture.course, lecture) %></il>
          <il><%= link_to 'Destroy', course_lecture_path(lecture.course, lecture), method: :delete, data: { confirm: 'Are you sure?' } %></il>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
