<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lecture.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @lecture.summary %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
