<nav><img alt="logo image" src="/assets/logo_noteTree.png" style="/* left:140px; */
margin: 20px;
padding-left: 25px;
">
</nav>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %></div>

  <div>
  <%= f.text_field :last_name, placeholder: "Last Name" %></div>

  <div>
  <%= f.email_field :email, placeholder: "Email"%></div>

  <div>
  <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %></div>

  <div>
  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %></div>

  <div><%= label_tag :account_type %><br />
  <%= select_tag :account_type, options_for_select([ "Teacher", "Student" ], "")  %>

  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
