<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions" id="course_submit">
    <%= f.submit %>
  </div>
  <div id="course">
    <div class="field">
      <%= f.text_field :short_name, placeholder: "Enter Shortened Course Name" %>
    </div>
    <div class="field">
      <%= f.text_field :name, placeholder: "Course Full Name"%>
    </div>
    <div class="date">
    <%= f.label :start_date %>:
    <%= f.date_select :start_date %>
  </div>
  <div class="date" >
    <%= f.label :end_date %>:
    <%= f.date_select :end_date %>
  </div>
    <div class="field">
      <%= f.text_area :description, placeholder: "List course decription here."%>
    </div>
  </div>
 
<% end %>
